altgraph        0.16.1
beautifulsoup4  4.8.2
certifi         2019.11.28
chardet         3.0.4
Click           7.0
cx-Freeze       6.0
DAWG-Python     0.7.2
docopt          0.6.2
future          0.18.0
idna            2.8
pefile          2019.4.18
Pillow          5.4.1
pip             19.3.1
pygame          1.9.6
PyInstaller     3.5
pymorphy2       0.8
pymorphy2-dicts 2.4.393442.3710985
PyQt5           5.13.0
PyQt5-sip       4.19.19
pyqt5-tools     5.13.0.1.5
python-dotenv   0.10.3
pywin32-ctypes  0.2.0
requests        2.22.0
setuptools      40.6.2
six             1.13.0
soupsieve       1.9.5
urllib3         1.25.7
wheel           0.33.1
